#game_title {
    text-align: center;
}

#game_logo {
    width: 220px;
    max-height: 340px;
}

#games_list_container {
    overflow: auto;
    height: 400px;
}

#games_list tr {
    cursor: pointer;
}

#games_list .game_progress {
    margin-bottom: 0;
}
