body, .btn-default {
    background-color: #f9f9f9;
}

#manager_loader {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 100px;
}

#games_list {
    background-color: #fff;
}

.game_size_col {
    text-align: right;
}

#game_title {
    text-align: center;
}

#game_logo {
    max-width: 100%;
    max-height: 50%;
}

#game_logo.active {
    cursor: pointer;
}

#image_dialog_image {
    max-width: 100%;
    max-height: 94%;
}

#image_dialog .modal-content {
    cursor: pointer;
}

#games_list_container {
    overflow: auto;
    height: 400px;
}

#games_list tr {
    cursor: pointer;
}

#games_list .game_progress {
    margin-bottom: 0;
}

#filter_keyword {
    width: 100px;
}

#filter_repository {
    width: 120px;
}

#filter_language {
    width: 80px;
}

.form-group-right, .btn-group-right {
    float: right;
}